.users {
    display: flex;
    align-items: top;
    column-gap: 10px;
    margin-bottom: 20px;

}
.user {
}
.avatar {
    max-width: 100px;
    margin-bottom: 8px;
    
    img {
        max-width: 100%;
    }
}
.body {
}
.info {
}
.name {
}
.status {
}
.location {
}
.country {
}
.city {
}
