
.header {
    margin-bottom: 15px;
}
.container {
    min-height: 80px;
    background-color: #485ab2;
    display: grid;
    align-items: center;
}
.logo {
    font-size: 20px;
    font-weight: 700;
    color: white;
}
