
#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.app-wrapper {
  flex: 1 1 100%;
  min-height: 100%;
  overflow: hidden;

}

.app-container {
  display: grid;
  grid-template-columns: 2fr 8fr;
  gap: 15px;
  
  
  
}
/*=================================================================*/

[class*="container"] {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
 }

/*=================================================================*/

